@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 4% 6%;
    align-items: baseline;
}

/* Navbar */

li, a{
    text-decoration: none;
    list-style: none;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    color: black;
}

.menu li{
    display: inline;
    padding: 15px;
}

.corp-logo{
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #000 0%, #000 55%, #6c63ff 55%, #6c63ff 100%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.elipse{
    position: absolute;
    width: 280px;
    height: 200px;
    right: 0;
    top: -70px;
    z-index: -1;
    border-radius: 100% 0 80% 100%;
    border: 2px solid #C4C4C4;
    background-color: #C4C4C4;
}

/* Section */

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4% 6%;
}

.slogan{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    padding-left: 10%;
}

.slogan::first-letter{
    color: #6c63ff;
}

span{
    color: #6c63ff;
}

/* Main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title{
    margin-bottom: 4%;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question{
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-right: 2%;
}

.main-question{
    border: 3px solid #6c63ff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4% 8%;
    margin-top: 6%;
    font-weight: bold;
    font-size: 18px;
}

.description{
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-top: 3%;
    margin-left: 2%;
}

.main-description{
    border: 1px solid #000;
    border-radius: 5px;
    height: 100%;
    padding: 5%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

button{
    color: #6c63ff;
    background-color: black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 36px;
    border: none;
    outline: none;
    width: 40%;
    margin-top: 6%;
    cursor: pointer;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    padding: 4% 6%;
    align-items: center;
    background-color: #6c63ff;
    color: black;
    margin-top: 15%;
}

.footer-nav a{
    font-weight: bold;
    font-size: 30px;
}

.footer-nav li{
    padding: 5% 0;
}

footer h1{
    font-weight: bold;
    font-size: 64px;
}